.align {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	margin-top: 110px;
}
.button {
	padding: 18px;
	margin: 10px;
	display: block;
	font-size: 25px;
	color: aliceblue;
	background: #0097A7;
	text-align: center;
	border-radius: 4px;
}
a.button:hover {
	transition-duration: .5s;
	background: #01579B;
}