.single {
	padding-top: 5em;
}
.single_right p {
    color: #555;
    font-size: 0.85em;
    font-weight: 300;
    line-height: 1.8em;
    margin-bottom: 10px;
}
.description-pane {
	width: 75%;
	float: left;
}
.detail-pane {
	width: 25%;
	float: left;
}
.my_details {
	margin-top: 20px;
}
.det {
	padding: 20px;
	padding-left: 0;
}
.det span {
	font-weight: 600;
	width: 150px;
	display: inline-block;
}
.det div {
	padding-top: 10px;
	padding-bottom: 10px;
}
.profile_pic {
	width: 300px;
}